@import url('https://fonts.googleapis.com/css?family=Paytone+One');

:root {
	--background-color: #e9e9e9;
	--color: #060a19;
	--color2: rgb(184, 44, 44);
}

body {
	background: var(--background-color);
	font-family: Paytone One;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
body.dark {
	--background-color: #060a19;
	--color: #e9e9e9;
	--color2: pink;
}

#nav-bar {
	background-color: var(--background-color);
	color: var(--color);
	cursor: pointer;
	position: relative;

	font-size: 3rem;
	text-align: center;
	letter-spacing: 15px;
	text-transform: uppercase;

	width: 100%;
	height: auto;
}

.content {
	height: 100%;
}

#log-times {
	color: var(--color);
	font-size: 25px;
	text-align: center;
	position: relative;
}

.container {
	overflow: hidden auto;
	margin: auto;
	width: 400px;
	height: 400px;
	z-index: 100000;
}
.container::-webkit-scrollbar {
	width: 0.3em;
}
.container::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 0.1px solid slategrey;
	border-radius: 5px;
}

#history {
	color: var(--color);
	font-size: 25px;
	position: relative;
	text-align: center;
}

.title {
	padding: 20px;
}

.cnt {
	color: red;
	font-size: 40px;
	font-weight: bold;
	margin-left: 15px;
}

p {
	color: var(--color);
	text-align: center;
	font-size: 25px;
}

/* Clear History Btn */
.clear-btn {
	background-color: var(--color);
	color: var(--background-color);
	border-radius: 20px;
	cursor: pointer;

	position: fixed;
	top: 120px;
	right: 50px;

	width: 30px;
	height: 30px;
	padding: 5px;
	z-index: 100;

	transition: all 0.5s ease;
}
.clear-btn:hover {
	width: 115px;
}

.clear-btn::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-45%, -50%);
}
.clear-btn:hover::after {
	content: 'Clear History';
}

/*Loader*/
.loader-container {
	-moz-animation: scaleUp 0.5s linear;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-animation: scaleUp 0.5s linear;
	-webkit-transform: scale(0);
	animation: scaleUp 0.5s linear;
	height: 100px;
	opacity: 0;
	position: absolute;
	transform: scale(0);
	width: 100px;
}
.loader-container .loader {
	-webkit-filter: hue-rotate(0deg);
	animation: filterHue 2.5s linear infinite;
	background: #ff0c0c;
	background: -moz-linear-gradient(40deg, #ff0c0c, #21d400);
	background: -webkit-linear-gradient(40deg, #ff0c0c, #21d400);
	background: linear-gradient(50deg, #ff0c0c, #21d400);
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjAzOTYxNCIgeTE9IjAuOTUyNzkiIHgyPSIxLjAzOTYxNCIgeTI9IjAuMDQ3MjEiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjBjMGMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMWQ0MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	border-radius: 10px;
	filter: hue-rotate(0deg);
	height: 100%;
	transform: rotate(0deg);
	width: 100%;
}
.loader-container .loader::after {
	content: '';
	border-radius: 100%;
	height: 80px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 80px;
}

@keyframes Animate {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
	}
}

@-moz-keyframes filterHue2 {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
	}
}

@-ms-keyframes filterHue2 {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}
	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
	}
}

@keyframes filterHue2 {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
	}
}

@keyframes Animate {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes filterHue {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes filterHue {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-webkit-filter: hue-rotate(2000deg);
		filter: hue-rotate(2000deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes filterHue {
	50% {
		-webkit-filter: hue-rotate(1000deg);
		filter: hue-rotate(1000deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-filter: hue-rotate(2000deg);
		-webkit-transform: rotate(360deg);
		filter: hue-rotate(2000deg);
		transform: rotate(360deg);
	}
}

@keyframes Animate {
	50% {
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 1;
	}

	100% {
		-moz-transform: scale(0.25);
		-ms-transform: scale(0.25);
		-webkit-transform: scale(0.25);
		transform: scale(0.25);
	}
}

@-moz-keyframes scaleUp {
	50% {
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 1;
	}

	100% {
		-moz-transform: scale(0.25);
		-ms-transform: scale(0.25);
		-webkit-transform: scale(0.25);
		transform: scale(0.25);
	}
}

@-ms-keyframes scaleUp {
	50% {
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 1;
	}

	100% {
		-moz-transform: scale(0.25);
		-ms-transform: scale(0.25);
		-webkit-transform: scale(0.25);
		transform: scale(0.25);
	}
}

@keyframes scaleUp {
	50% {
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 1;
	}

	100% {
		-moz-transform: scale(0.25);
		-ms-transform: scale(0.25);
		-webkit-transform: scale(0.25);
		transform: scale(0.25);
	}
}

@media (max-width: 720px) {
	#nav-bar {
		font-size: 2.2rem;
		letter-spacing: 7px;
	}

	#log-times {
		font-size: 1.2rem;
	}

	#history {
		font-size: 1rem;
	}

	.cnt {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.loader {
		background: -moz-linear-gradient(40deg, #f00050, #2380ff) !important;
		background: -webkit-linear-gradient(40deg, #f00050, #2380ff) !important;
		background: linear-gradient(50deg, #f00050, #2380ff) !important;
	}
}
